a.btn:hover {
    color: #fff;
    line-height: unset;
}

.datepicker {
    z-index: 999999;
}

.card.height-auto .dropdown{
    display: none !important;
}

.item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}